# This workflow will install Deno and run tests across stable and nightly builds on Windows, Ubuntu and macOS.
# For more information see: https://github.com/denolib/setup-deno

name: Deno

on:
  workflow_dispatch:
  repository_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        run: |
          curl -L https://github.com/denoland/deno/releases/latest/download/deno-x86_64-unknown-linux-gnu.zip --output deno.zip
          unzip deno.zip
          rm deno.zip
    
      - name: Make README
        run: ./deno run -A scripts/makeReadme.ts
        
      - name: Push to GitHub
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "Leaderboard Maintenance"
          git add README.md
          git commit -m "Maintain Leaderboard" || true
          git push
